<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <h3>======app======</h3>
        <todo-item v-bind:todo="card"></todo-item>
    </div>

    <div id="app2">
        <app-nav></app-nav>
        <app-view>
            <app-sidebar></app-sidebar>
            <app-content></app-content>
        </app-view>
    </div>
    <div id="app3">
        <h3>======app3======</h3>
        <p>{{ animal }}</p>
        <p><span v-once>This will never change: v-once - {{ animal }}</span></p>
        <label>Enter your pet name: </label><input type="text" v-model="animal"/>
    </div>
    <div id="app4">
        <h3>======app4======</h3>
        <p>{{ foo }}</p>
        <!-- this will no longer update `foo`! -->
        <button v-on:click="foo = 'baz'">Change it</button>
    </div>
    <div id="app5">
        <h3>======app5======</h3>
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    </div>
    <div id="app6">
        <h3>======app6======</h3>
        <div v-bind:id="dynamicId"></div>
        <button v-bind:disabled="isButtonDisabled">Button</button>
        <div v-bind:id="'list-' + dynamicId"></div>
    </div>
    <div id="app7">
        <h3>======app7======</h3>
        <button v-on:click="warn('Chưa submit được form.', $event)">
            Submit
        </button>
    </div>
    <div id="app8">
        <h3>======app8======</h3>
        <form v-on:submit.prevent="onSubmit">
            <p>{{test}}</p>
            <label>First Name: </label><input type="text" placeholder="first name"/><br/>
            <label>Last Name: </label><input type="text" placeholder="last name"/><br/>
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">Terms & Conditions: {{ checked }}</label><br/>
            <div id='example-3'>
                <input type="checkbox" id="com-chien-toi" value="Cơm chiên tỏi" v-model="checkedNames">
                <label for="com-chien-toi">Cơm chiên tỏi</label><br>
                <input type="checkbox" id="dot-bi-xao-toi" value="Đọt bí xào tỏi" v-model="checkedNames">
                <label for="dot-bi-xao-toi">Đọt bí xào tỏi</label><br>
                <input type="checkbox" id="canh-rau-rung" value="Canh rau rừng" v-model="checkedNames">
                <label for="canh-rau-rung">Canh rau rừng</label>
                <br>
                <span>Món đã chọn: {{ checkedNames }}</span>
            </div>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div id="app9">
        <h3>======app9======</h3>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>
    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<a v-bind:href="todo.url" v-bind:title="todo.url">{{todo.title}}</a>'
        });
        /*==========ex==============*/
        var app = new Vue({
            el: '#app',
            data: {
                card: {
                    title: 'Don\'t click here!',
                    url: window.location.pathname
                }
            }
        });
        /*==========ex==============*/
        var obj = {
            foo: 'bar'
        };

        // Object.freeze(obj);

        new Vue({
            el: '#app4',
            data: obj
        });


        var data = { animal: 1 };
        var vm = new Vue({
            el: '#app3',
            data: data
        });
        /*==========ex==============*/
        // vm.$data === data // => true
        // vm.$el === document.getElementById('app3') // => true

        // $watch is an instance method
        vm.$watch('animal', function (newValue, oldValue) {
            console.log(newValue + '---' + oldValue);
        });
        /*==========ex==============*/
        var instance = new Vue({
            data: {
                a: 1
            },
            created: function () {
                // `this` points to the vm instance
                console.log('a is: ' + this.a)
            }
        });
        /*==========ex==============*/
        var app5 = new Vue({
           el: '#app5',
           data: {
               rawHtml: "<span style='color:red'>this is red text.</span>"
           }
        });
        /*==========ex==============*/
        var app6 = new Vue({
            el: '#app6',
            data: {
                dynamicId: 'dynamic-id',
                isButtonDisabled: true
            }
        });
        /*==========ex==============*/
        var app7 = new Vue({
            el: '#app7',
            methods: {
                warn: function (message, event) {
                    if (event) event.preventDefault();
                    alert(message);
                }
            }
        });
        /*==========ex==============*/
        var app8 = new Vue({
            el: '#app8',
            data () {
                return {
                    test: 'BEFORE SUBMIT',
                    checked: false,
                    checkedNames: []
                }
            },
            methods: {
                onSubmit: function() {
                    this.test = 'After submit';
                }
            }
        });
        /*==========ex==============*/
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">Bạn đã bấm {{ count }} lần.</button>'
        });
        var app9 = new Vue({
            el: '#app9'
        });
    </script>
</body>
</html>